In [42]:
import pandas as pd
import numpy as np

In [43]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                   })

df2 = pd.DataFrame({'A': ['A0', 'A1', np.nan, np.nan],
                    'C': ['C0', 'C1', 'C2', np.nan],
                   })

In [44]:
print(df1)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [45]:
print(df2)

     A    C
0   A0   C0
1   A1   C1
2  NaN   C2
3  NaN  NaN

In [46]:
pd.merge(df1, df2, how='right', on='A')

     A    B    C
0   A0   B0   C0
1   A1   B1   C1
2  NaN  NaN   C2
3  NaN  NaN  NaN