In [92]:
import pandas as pd
import numpy as np

In [93]:
df1 = pd.DataFrame({'A': ['A0', np.nan, 'A2', 'A3', ''],
                    'B': [np.nan, 'B1', 'B2', 'B3', 'B4'],
                    'D': [0,1,2,3,4],
                   })

df2 = pd.DataFrame({'A': ['A0', 'A1', np.nan, np.nan],
                    'C': ['C0', 'C1', 'C2', np.nan],
                   })

In [94]:
print(df1)

     A    B  D
0   A0  NaN  0
1  NaN   B1  1
2   A2   B2  2
3   A3   B3  3
4        B4  4

In [95]:
print(df2)

     A    C
0   A0   C0
1   A1   C1
2  NaN   C2
3  NaN  NaN

In [96]:
dfmerge = pd.merge(df1, df2, how='right', on='A')
print(dfmerge)

     A    B    D    C
0   A0  NaN  0.0   C0
1   A1  NaN  NaN   C1
2  NaN   B1  1.0   C2
3  NaN   B1  1.0  NaN

In [97]:
dfmerge2 = dfmerge.dropna(subset=['A'])

In [98]:
print(dfmerge)
print(dfmerge2)

     A    B    D    C
0   A0  NaN  0.0   C0
1   A1  NaN  NaN   C1
2  NaN   B1  1.0   C2
3  NaN   B1  1.0  NaN
    A    B    D   C
0  A0  NaN  0.0  C0
1  A1  NaN  NaN  C1

In [99]:
# Count # of NaN
dfmerge['A'].isnull()

0    False
1    False
2     True
3     True
Name: A, dtype: bool

In [100]:
ar = np.array(df1['A'])
ind = [0,1]
print(ar[ind])

['A0' nan]

In [101]:
ls = [1,2,3,4]
# print(ls[ind]) # --> Error

In [102]:
np.full(3,1.)

array([1., 1., 1.])

In [103]:
df1.query('A!=A | A.str.len()==0')

     A   B  D
1  NaN  B1  1
4       B4  4

In [168]:
print(df1['A'])
a=df1.dropna(subset=['A'])['A'].str.split('A',expand=True)
print(a)

0     A0
1    NaN
2     A2
3     A3
4
Name: A, dtype: object
  0     1
0       0
2       2
3       3
4    None

In [173]:
print(names)
print(len(names))
print(names.shape)

0    A0.0    0\n1    1\n2    2\n3    3\n4    4\nNam...
1                                                  NaN
2    A2.0    0\n1    1\n2    2\n3    3\n4    4\nNam...
3    A3.0    0\n1    1\n2    2\n3    3\n4    4\nNam...
4    .0    0\n1    1\n2    2\n3    3\n4    4\nName:...
Name: A, dtype: object
5
(5,)

In [174]:
for a, b in zip(df1['A'],df1['D']):
    #print(a,b)
    print('{}+{}'.format(a,b))
    pass;

A0+0
nan+1
A2+2
A3+3
+4

In [175]:
df1['A'] == np.array(['A1',1,1,1,1])

0    False
1    False
2    False
3    False
4    False
Name: A, dtype: bool

In [179]:
a=np.array([1,2,3])

In [186]:
np.delete(a, np.where(~np.isnan(a)))

array([], dtype=int64)